# Ignore application properties file
TravelTracker/TravelTracker/src/main/resources/application*.properties

#macOS files
.DS_Store


# IDE files for STS
.metadata/
.settings/
.classpath
.project

# Build directories
*.class
target/
build/
bin/

# Gradle files
.gradle/
!gradle/wrapper/gradle-wrapper.jar
#*.war
*.jar

# Logs and temporary files
logs/
*.log
*.bak
*.tmp

# OS-specific files for Windows
Thumbs.db
desktop.ini

#Angular ignores

node_modules/
dist/
out-tsc/
coverage/


#TypeScript compiles files
*.js
*.js.map

#Ignore VS Code Settings
.vscode/

